.swiper-slide {
  display: block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-title {
  margin-top: 30%;
  font-size: 1.4rem;
  font-weight: 500;
}

.slide-image {
  max-height: 70%;
  max-width: 60%;
  margin: 36px 0;
}

b {
  font-weight: 600;
}

p {

  padding: 0 40px;
  font-size: 20px;
  line-height: 1.5;
  color: #bac1cc;

  b {
  color: #000000;
  }
}


#tutorial{
position: relative;
}

ion-slides{

height: calc(100vh - 100px) !important;

}

::ng-deep.swiper-pagination-bullet {
  
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #025a50;
  background: #69c7bc;
    
}
::ng-deep #tutorial .button-native {
  background: #69c7bc;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.4)
}
.slide-caption {
  margin-bottom: 15%;
}