<header-public-component [userType]="selectedType" [showLogin]="true" [showType]="true" (userTypeChange)="changeUserType($event)"></header-public-component>

<ion-content fullscreen id="tutorial">
  <div *ngIf="selectedType == 'jobseeker'">
    <ion-slides pager = true>
      <ion-slide>
        <div class="box">
          <h4 class="slide-title">
            You Deserve Better
          </h4>
          <p class="slide-caption">
            Get hired with HyrSkills
          </p>
          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <h4 class="slide-title">Instant Matching</h4>
          <p>
            Create your personal profile and connect with employers who need your skills and experience.
          </p>
          <p>
            It's as simple as that!
          </p>
          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <h4 class="slide-title">Customized To Your Needs</h4>
          <p>
            Tired of applying for jobs that are not meant for you?
          </p>
          <p>Try the newest and best way to find your next job, that meets your needs.</p>
          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <h4 class="slide-title">Simple Is Always Better</h4>
          <p>
            Reduce your job search from months to minutes.
          </p>
          <p>
            Sign Up now!
          </p>
          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="selectedType == 'employer'">
    <ion-slides #slides pager="true">
      <ion-slide>
        <div class="box">
          <h4 class="slide-title">
            You Deserve Better
          </h4>
          <p class="slide-caption">
            Hire With HyrSkills
          </p>
          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <h4 class="slide-title">Instant Matching</h4>
          <p>
            Hire for what matters...<br>
            Skills and Experience.
          </p>
          <p>
            Saving you time and money
          </p>
          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <h4 class="slide-title">The New Way To Find Talent</h4>
          <p>
            Proactively reach out to candidates that meet your needs.
          </p>

          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="box">
          <h4 class="slide-title">Simple Is Always Better</h4>
          <p>
            The simplest way to connect with the right job seeker.
          </p>
          <p>
            Saving you time and money
          </p>
          <p>
            Sign Up now!
          </p>
          <ion-button color='hyrblue' (click)="startApp()" [hidden]="!showSkip">Start now</ion-button>
        </div>
      </ion-slide>
      
    </ion-slides>                      

  </div>
</ion-content>