.login-logo {
  padding: 70px 0;
  min-height: 200px;
  text-align: center;
  width:80%;
  max-width:200px;
  margin:auto;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

ion-textarea{
  border-color:grey;
  min-height:300px;
}

.inline{
  ion-input{
    width:30%;
    float:left;
    border:1px solid grey;
    padding:0px 20px;
  }

  span{
    display:block;
    padding-top:10px;
  }

  ion-select, span{
    width:30%;
    float:left;
  }
}

.add-experience{
  display:block;
  width: 150px;
  ion-icon{
    margin-top:10px;
    font-size:30px;
    width:30px;
    display:inline-block;
  }
  margin:auto;
}

.remove-experience{
  font-size:22px;
  margin-top:10px;
}

.textarea {
  width: calc(100% - 10px);
  border: 0;
  border-radius: 0;
  background: transparent;
}