<header-public-component [showLogin]="false" [showHome]="true"></header-public-component>

<ion-content padding>
  <div class="login-logo">
    <img src="assets/img/hyrskills-logo.png" alt="Ionic logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="text" #username="ngModel" spellcheck="false"
          autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" padding-left>
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" #passwordModel="ngModel" required>
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-row responsive-sm>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <p text-center>
    <a (click)="onSignup()" text-center>Sign up</a>
  </p>

</ion-content>